@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
*{
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
}

#fon-weather {
  background-color: #0066FF;
  width: 675px;
  height: 338px;
  position: relative;
}

#weather-temp {
  font-size: 100pt;

  position: relative;
  padding-bottom: 10px;
  margin: 10px 0;;
  top: 100px;
}

#fon-weather img {
  width: 150px;
  position: absolute;
  left: 520px;
  top: 0px;
  animation-name: ic-weath;
  animation-duration: 4s;
  animation-timing-function: linear;
}

#fon-weather img:hover{
  transform: rotate(40deg);
}

@keyframes ic-weath {
  0% {left: 0px; top: 0px; opacity: 0.3;}
  20% {left: 135px; top: 100px}
  40% {left: 270px; top: 0;}
  60% {left: 405px; top: 100px;}
  80% {left: 520px; top: 0px;}
  90% {transform: rotate(40deg);}
  100% {opacity: 1;}
}

#weather-city {
  font-size: 30pt;
  position: relative;
  top: -270px;
  margin: 60px 20px;
}

#max-temp, #min-temp {
  position: relative;
  right: -300px;
  top: -30px;

}
